/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .copy-container h1{
    font-size: 6rem;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
  }
  .copy-container h2 {
    font-size: 2rem;
  }
  .work-container .contents-item {
    margin: 0 auto 25px;
  }
}
/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  .copy-container {
    padding-bottom: 20px;
  }
  .copy-container h1{
    font-size: 7vw;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    text-align: center;
  }
  .copy-container h2 {
    display: none;
    font-size: 3vw;
  }
  .headline {
    font-size: 4vw;
  }
  .profile-container {
    padding: 20px 0;
  }
  .skill-container {
    padding: 20px 0;
  }
  .skill-container .contents-item {
    width: 100%;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  }
  .work-container {
    padding: 20px 0;
  }
  .work-container .contents-item {
    margin: 0 auto 25px;
  }
  .contact-container {
    padding: 20px 0;
    margin-bottom: 100px;
  }
  nav {
    display: flex;
    align-items: center;
    position:fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px -1px 1px;
  }
  nav .menu {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}