/* CSSのリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div, img {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
img{
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  width: 100%;
}


/*  layout  */
body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
}
.main span{
  background:-webkit-gradient(linear,to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  background:-moz-linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contents-item span {
  background:-webkit-gradient(linear,to top, #ff0844 0%,#ffb199 100%);
  background:-moz-linear-gradient(to top, #ff0844 0%,#ffb199 100%);
  background: linear-gradient(to top, #ff0844 0%,#ffb199 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-item .menu-icon {
  color: #f9748f;
  background:-webkit-gradient(linear,to top, #ff0844 0%,#ffb199 100%);
  background:-moz-linear-gradient(to top, #ff0844 0%,#ffb199 100%);
  background: linear-gradient(to top, #ff0844 0%,#ffb199 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headline {
  text-align: center;
  font-size: 2rem;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  margin-bottom: 25px;
}
.contents {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contents-item {
  border-radius: 2px;
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  text-align: center;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

.contents-item table {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
}
.contents-item th,.contents-item td {
  padding: .75rem 0;
}
.copy-container {
  padding-bottom: 100px;
}
.copy-container h1{
  /*font-size: 10rem;*/
  font-size: 10rem;
  border-top: 6px solid black;
  border-bottom: 6px solid black;
}
.copy-container h2 {
  font-size: 4rem;
}
.profile-container {
  /*background-color: #ff4a4a;*/
  padding: 100px 0px;
}
.profile-container p {
  text-align: center;
}
.skill-container {
  padding: 100px 0px;
}
.skill-container .contents {
  justify-content: space-between;
  padding: 16px;
} 
.skill-container .contents-item {
  width: 49%;
}
.skill-container .item-headline {
  padding-top: 15px;
}
.work-container {
  padding: 100px 0px;
}
.work-container .contents {
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
}
.contact-container {
  padding: 100px 0px;
}
.contact-container {
  text-align: center;
}

nav {
  display: none;
}
.menu-item {
  flex-grow: 1;
  text-align: center;
  height: 100%;
  display: table;
}
.menu-item a{
  display: table-cell;
  vertical-align: middle;
}

/* ripple effect */
.ripple {
  overflow: hidden;
  position: relative;
}

.ripple__effect {
  width: 100px;
  height: 100px;
  background-color: #999;

  position: absolute;
  border-radius: 100%;
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
}

.ripple__effect.is-show {
  animation: ripple 0.4s ease-out;
}
@keyframes ripple {
  from {
      opacity: 1;
  }
  to {
      transform: scale(2);
      opacity: 0;
  }
}
